.favorite-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

.favorite-movies div {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.favorite-movies img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.favorite-movies a {
  text-decoration: none;
  color: #fff;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header a,
span {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.header {
  height: 12vh;
}
